html {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
#sudoku-container {
    margin-block: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    border: 3px solid #333;
}
#sudoku-container input {
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    outline: none;
}